@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Sixtyfour&display=swap");

#root {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/wood_pattern.png");
}

.navbar-brand {
  font-family: Sixtyfour;
  font-size: 5em !important;
}
